<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ua.probe.oleg.tetrisgamecollection">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TetrisActivity">
        </activity>
        <activity android:name=".ColumnusActivity">
        </activity>
        <activity android:name=".ColorBallsActivity">
        </activity>
        <activity android:name=".SettingsActivity">
        </activity>
        <activity android:name=".HelpActivity">
        </activity>
    </application>

</manifest>